body{
margin:0;
font-family:Segoe UI;
background:#f4f4f4;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#000;
padding:15px 40px;
position:sticky;
top:0;
}

.logo{color:#fff;font-weight:bold;}

.nav-links{
display:flex;
gap:25px;
list-style:none;
}

.nav-links a{
color:#fff;
text-decoration:none;
}

.nav-links a:hover{color:orange;}


.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
color:#fff;
background:linear-gradient(#000,#333);
}

.btn,button{
background:orange;
color:#fff;
padding:10px 20px;
border:none;
border-radius:5px;
cursor:pointer;
}


.pipeline,.content{
padding:60px;
text-align:center;
}

.steps,.cards{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.step,.card{
padding:20px;
border-radius:8px;
}

.step{
background:orange;
color:#fff;
}

.card{
background:#fff;
width:250px;
box-shadow:0 3px 8px rgba(0,0,0,0.1);
}


form{
max-width:400px;
margin:auto;
display:flex;
flex-direction:column;
}

input,textarea{
margin:10px;
padding:10px;
}


#successMessage{
display:none;
padding:10px;
background:#d4edda;
color:#155724;
border-radius:5px;
margin-top:10px;
}


@media(max-width:768px){
.nav-links,.steps,.cards{flex-direction:column}
}
